@model PollFiction.Services.Models.CreatePollViewModel

@{
    ViewData["Title"] = "Création d'un sondage";
}

<h1>Création de sondage</h1>
<hr />
<div class="container">
    <div class="container-form">
        <form asp-action="CreatePoll" id="CreatePoll">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" asp-for="Multiple" id="customSwitch1" />
                <label class="custom-control-label" for="customSwitch1">
                    @Html.DisplayNameFor(model => model.Multiple)
                </label>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
            <hr>
            <div>
                <input type="text" class="searchPoll" placeholder="Saisiez des choix" id="Choice" />
                <input type="button" value="Ajouter un choix" class="btn btn-primary" onclick="AddChoice()" />
            </div>
        </form>

        <div>
            <h5>Liste des choix :</h5>
            <ul id="ListChoice">
            </ul>
        </div>
    </div>
</div>

<div>
    <a asp-action="Dashboard">Revenir au tableau de bord</a>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
            let count = 1;

           function DelChoice(nbr) {

               let form = document.getElementById("CreatePoll");
               let inputToDelete = document.getElementById("inputChoice"+nbr);
               form.removeChild(inputToDelete);

               let list = document.getElementById('ListChoice');
               list.removeChild(document.getElementById("liChoice"+nbr));
           }

            function AddChoice () {

                let choice = document.getElementById('Choice').value;

                if(choice != ""){

                    //recupére la balise ul et crée la li
                    let list = document.getElementById('ListChoice');
                    let entry = document.createElement('li');
                    entry.id = "liChoice"+count;

                    //ajout dans d'un li dans la balise ul
                    list.appendChild(entry);

                    //Création balise span
                    let span = document.createElement("span");
                    span.innerHTML =  '  -  '+choice;
                    //entry.appendChild(span);

                    //Création balise INPUT
                    let input = document.createElement("input");
                    input.setAttribute("type", "hidden");
                    input.setAttribute("name", "Choices");
                    input.setAttribute("value", choice);
                    input.id = "inputChoice"+count;

                    //ajout au depuis la balise form
                    document.getElementById("CreatePoll").appendChild(input);

                    //Création balise IMG
                    let image = document.createElement("img");
                    image.id="ImgChoice"+count;
                    image.src = "../images/delete48.png";
                    image.alt = "Supprimer";
                    image.className = "imgDel";
                    image.setAttribute("onclick", "DelChoice("+count+")");

                    entry.appendChild(image);
                    //entry = document.getElementById("liChoice"+count);
                    entry.appendChild(span);
                    //entry.appendChild(document.createTextNode(choice));
                    

                    //Effacement du contenu du champ saisie
                    document.getElementById('Choice').value = '';

                    count++;
                }
            }
    </script>
}
