@model List<PollFiction.Data.Model.Poll>
@{
    ViewData["Title"] = "Tableau de bord de "+@User.Claims.FirstOrDefault(u => u.Type.Equals("name")).Value;
    //Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3>Tableau de bord - @User.Claims.FirstOrDefault(u => u.Type.Equals("name")).Value</h3>

<hr />
<div class="container">
    <div class="container-form">
        <form action="CodePoll" method="post" class="form1">
            <div>
                <input type="text" class="searchPoll" placeholder="Saisiez un code de sondage" />
                <input type="submit" value="Rechercher" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="container-form">
        <h4>Vos sondage crées</h4>
        
        @{
            foreach(var poll in Model)
            {
                <div class="container-lien-poll">
                    <a href="/Poll/Vote?code=@poll.PollLinkAccess" class="lien-sondage" title="">@poll.PollTitle</a>
                    <div>
                        <a href="/Poll/LinksPoll?pollId=@poll.PollId" title="voter">
                            <img src="~/images/lien40.png" alt="Liens du sondage" title="Liens du sondage" class="img-list-poll-dashbord">
                        </a>
                        @*<img src="~/images/modify40.png" alt="Motifier le sondage" class="img-list-poll-dashbord">*@
                        <a href="/Poll/Vote?code=@poll.PollLinkAccess" title="voter">
                            <img src="~/images/vote64.png" alt="Motifier le sondage" class="img-list-poll-dashbord">
                        </a>
                        <img src="~/images/combine48.png" alt="Motifier le sondage" class="img-list-poll-dashbord">
                        <img src="~/images/close60.png" alt="Motifier le sondage" class="img-list-poll-dashbord">
                    </div>
                </div>
            }
        }
    </div>
</div>
