<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PollFiction</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @{
                    if(User.Claims.FirstOrDefault(u => u.Type.Equals("name")) != null)
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Poll" asp-action="Dashboard">PollFiction</a>
                    }
                    else{
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PollFiction</a>
                    }
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            if(User.Claims.FirstOrDefault(u => u.Type.Equals("name")) != null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Poll" asp-action="CreatePoll">Créer un sondage</a>
                                </li>
                            }
                        }
                        
                    </ul>
                    @if(User.Claims.FirstOrDefault(u => u.Type.Equals("name")) != null)
                    {
                        <div class="deco-lien">
                            <a class="index-a" asp-area="" asp-controller="Home" asp-action="Logout">
                                <span class="deco-black">@User.Claims.FirstOrDefault(u => u.Type.Equals("name")).Value - </span>
                                Déconnexion
                            </a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <form asp-action="vote" method="get" class="form1" asp-controller="Poll">
            <div class="div-form-search">
                <input type="text" name="code" class="searchPoll" placeholder="Saisiez un code de sondage" />
                <input type="submit" value="Rechercher" class="btn btn-primary" />
            </div>
        </form>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
