@model PollFiction.Services.Models.CreatePollViewModel

@{
    ViewData["Title"] = "Création d'un sondage";
}

<h1>Création de sondage</h1>
<hr />
<div class="container">
    <div class="container-form">
        <form asp-action="CreatePoll" id="CreatePoll">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" class="form-check-input" asp-for="Multiple" id="customSwitch1" />
                <label class="custom-control-label" for="customSwitch1">
                    @Html.DisplayNameFor(model => model.Multiple)
                </label>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
            <div>
                <h5>Liste des questions :</h5>
                <ul id="ListChoice">
                </ul>
            </div>

            <div>
                <input type="text" class="form-control" placeholder="Saisiez des choix" id="Choice" />
                <br />
                <input type="button" value="Ajouter" class="btn btn-primary" onclick="AddChoice()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Dashboard">Revenir au tableau de bord</a>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var count = 1;

        function AddChoice () {

            var choice = document.getElementById('Choice').value;

            if(choice != ""){

                var list = document.getElementById('ListChoice');
                var entry = document.createElement('li');
                entry.id = "liChoice"+count;

                var input = document.createElement("input");
                input.setAttribute("type", "hidden");
                input.setAttribute("name", "Choices");
                input.setAttribute("value", choice);
                input.id = "inputChoice"+count;

                var image = document.createElement("img");

                image.src = "~/images/delete48.png";
                image.alt = "Supprimer";
                image.setAttribute("onclick", "DelChoice("+count+")")


                entry.appendChild(document.createTextNode(choice));
                entry.appendChild(image);


                document.getElementById("CreatePoll").appendChild(input);
                list.appendChild(entry);

                document.getElementById('Choice').value = '';

                count++;
            }

            function DelChoice(nb) {
                return alert("dsfsfsf");
            }
        }
    </script>
}
