@{
    ViewData["Title"] = "Bienvenue sur PollFiction";
}

<section class="text-center">
    <div class="index-titre-center">
        <h1 class="index-h1">Bienvenue sur PollFiction</h1>
    </div>

    <div class="index-lien">
        <a class="index-a" asp-controller="Home" asp-action="Dashboard">S'identifier</a>
        <a class="index-a" asp-controller="Home" asp-action="register">Inscription</a>
    </div>
    
</section>
