 /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Début CSS personnalisé de PollFiction !!!!!!*/
.index-titre-center {
    margin-top:35vh; 
    transform: translateY(-35%);
}

.index-h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom:40px;
}

.deco-lien a{
    display: inline-block;
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: darkred;
    background-color: cornflowerblue;
    font-weight: bold;
}

.deco-black{
    color:black;
}

.lien-sondage{
    width:50%;
}

.lien-sondage-disable{
    font-weight:bold;
    color:darkred;
}

.vote {
    width: 10%;
}
.dashbord-image{
    width:20%;
    text-align:right;
}

.index-lien a {
    display: inline-block;
    border: 1px solid black;
    padding: 15px 40px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: cornflowerblue;
    font-weight: bold;
}
.index-lien a:first-child {
    margin-right:100px;
}

.index-lien a:hover {
    background-color:lightskyblue;
}

.error{
    color:red;
    font-weight:bold;
}

h1{
    text-align:center;
}

.container-form {
    padding: 10px;
    margin: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.form1 {
    display:block;
    margin:auto;
    max-width : 60%;
}

.form2 {
    display: block;
    margin: auto;
    max-width: 80%;
}
.searchPoll {
    display:inline-block;
    vertical-align:middle;
    width: 75%;
    padding: .375rem .75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: .25rem;
    border-color : dodgerblue;
}
.searchPollFooter {
    width: 55%;
}

#ListChoice, #ListGuest {
    margin-left: 40px;
}

#ListChoice li, #ListGuest li {
    list-style-type: none;
    width: 70%;
}

.imgDel {
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.input-link {
    display: inline-block;
    width: 79%;
    background-color: #fff;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    vertical-align:middle;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-link-disable {
    background-color: #e9ecef;
    opacity: 1;
}

.bleu-bouton {
    color: #0366d6;
}

.vert{
    color:forestgreen;
    font-weight:bold;
    font-size:15px;
}
.container-lien-poll{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.container-lien-poll:hover {
    background-color: aliceblue;
    border-radius: .25rem;
    padding-left:5px;
}
.img-list-poll-dashbord {
    height: 30px;
    width: auto;
    margin: 0 5px 0 5px;
}

.div-form-search{
    text-align:center;
}

.div-form-search input{
    line-height: 30px;
}

.nav-img{
    height:30px;
    width:auto;
}
/* Fin CSS personnalisé de PollFiction !!!!!!*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
